.carousel-wrapper {
    background: $secondary-color;
    .slideshow {
        img {
            padding: 10px;
            cursor: pointer;
        }

        img:first-child {
            z-index: 100;
        }
    }
}

.carousel-wrapper:hover .carousel-nav {
    opacity: 1;
}
