.footer {
    min-height: 234px;
    background: $primary-color;
}

.logo-footer {
    width: 5%;
    text-align: center;
    position: relative;
}

div.logo {
    position: absolute;
    bottom: -40px;
}

.menu-footer {
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: 6%;
    @include setboxsizing(border-box);
}

.menu {
    @include setboxsizing(border-box);
    width: 100%;
    .menu-group {
        width: 100%;
        min-height: 50px;
        .menu-item {
            text-align: center;
            width: 20%;
            @include setfontsize(19px);
            a {
                color: $secondary-color;
            }
        }
    }

    .up-arrow {
        @extend %menu-down-arrow;
        background: url(../img/glyphicons-halflings-white.png);
        @include setbackgroundposition(-263px -73px);
        @include transform(rotate(-90deg));
    }
}

.callus-wrapper {
    width: 40%;
    text-align: right;
    margin: 15px auto;
    .text-part {
        @include setfontsize(17px);
        font-weight: bold;
        span {
            width: 100%;
            display: inline-block;
        }
        .line-1 {
            color: $theme-color;
        }
        .line-2 {
            color: $secondary-color;
        }
    }
    .icon-part {
        color: $theme-color;
        float: left;
        @include setfontsize(35px);
        padding-left: 15px;
    }
}

.content-with-recents {
    color: $secondary-color;
    @include setboxsizing(border-box);
    .designer-info {
        width: 40%;
        padding: 0 0 0 9.1%;
        span {
            width: 100%;
            display: inline-block;
        }

        .designer-head {
            @include setfontsize(19px);
            font-weight: bold;
        }

        .designer-readmore {
            a.readmore-link {
                color: $theme-color;
                font-weight: bold;
                text-decoration: none;
            }
        }
    }

    .recent-boards {
        width: 50%;
        .recent-head {
            font-weight: bold;
        }
        span {
            width: 100%;
            display: inline-block;
        }
        .boards {
            padding-top: 7px;
            img {
                max-height: 70px;
                padding-right: 4px;
            }
        }
    }
}

.rights-reserved {
    display: flex;
    min-height: 55px;
    margin-top: 10px;
    .copyright {
        color: $secondary-color;
        @include setfontsize(14px);
        padding-right: 15px;
    }
    .social-icons-holder {
        text-align: right;
        @include setboxsizing(border-box);
    }
}
