.after-slider-wrapper {
    color: $primary-color;
    height: auto;
    background: $background-color;
}

.slider-bottom-block {
    vertical-align: top;
    text-align: center;
    width: 30%;
    margin: 13px;
    display: inline-block;
    h2 {
        @extend %transform-uppercase;
        margin-top: 0px;
        @include setfontsize(26px);
    }
    p {
        padding: 0px 20px;
    }
}

.separator {
    text-align: center;
    width: 100%;
    display: none;
    padding: 0px 0px 20px;
    &:before {
        content: '';
        display: inline-block;
        background: $theme-color;
        height: 5px;
        width: 12%;
    }
}

.duplicate-slider-right-content {
    background: $background-color;
    top: 10%;
    left: 0;
    height: auto;
    display: none;
    padding: 20px 60px;
    margin-bottom: 20px;
    .content-wrapper {
        .top-heading {
            @extend %block-text;
            letter-spacing: 0.32em;
            @include setfontsize(26px);
            padding-bottom: 5px;
        }
        .text-with-separator {
            @include setfontsize(16px);
            padding: 0px 12px;
        }

        .bottom-heading {
            @extend %block-text;
            letter-spacing: 0.23em;
            @include setfontsize(22px);
            padding-bottom: 10px;
            padding-top: 5px;
        }
        .right-content-button-container {
            display: inline-block;
            width: 100%;
            text-align: center;
            padding-top: 17px;
            button {
                @include setbuttondesign(16px 45px, 19px, 7px, normal);
            }
        } 
    }
}
