@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    .looknook_body {
        .wrapper {
            margin: 0px auto;
            .header-part {
                height: 77px;
                .head-left {
                    height: 77px;
                    .header-social-icons {
                        display: none;
                    }
                }
                
                .head-top {
                    .head-logo {
                        height: 77px;
                        .main-logo {
                            top: 35%;
                            left: 25%;
                            img {
                                @include transform(scale(1));
                            }
                        }
                    }
                }
                
                .head-right {
                    .search-bar, .quick-links {
                        display: none;
                    }
                }
            }
            
            #header {
                .head-right {
                    .menu-icon {
                        display: block;
                    }
                }
                .main-menu {
                    display: none;
                }
                
                .infoblock-1 {
                    .block-part {
                        height: 33px;
                        .menu-ul {
                            .menu-li {
                                line-height: 33px;
                                @include setfontsize(12px);
                            }
                        }
                    }
                }
            }

            .sliders-container {
                .cycle-slideshow img {
                    min-height: 225px;
                }
                .divider {
                    height: 3px;
                }
                
                .slider-button {
                    left: 5%;
                    
                    .slider-button-container {
                        button {
                            @include setfontsize(13px);
                            padding: 7px 10px;
                        }
                    }
                }

                .cycle-pager {
                    display: none;
                }
                
                .infoblock-2 {
                    display: none;
                }
            }
            
            .carousel-container {
                .slideshow {
                    img {
                        min-height: 40px;
                    }
                }
            }
            
            .information-container {
                background: $secondary-color;
                .infoblock {
                    width: auto;
                    margin: 0px 10px;
                    padding-bottom: 20px;
                    h1 {
                        @include setfontsize(28px);
                        margin-bottom: 0px;
                    }
                    p {
                        @include setfontsize(16px);
                        margin-top: 0px;
                        margin-bottom: 0px;
                    }
                }
                
                .separator {
                    display: inline-block;
                }
                
                .duplicate-infoblock-2 {
                    display: block;
                }
            }

            .subscriber-box {
                height: max-content;
                display: inline-block;
                float: left;
                .box-middle{
                    width: 100%;
                    text-align: center;
                    margin-bottom: 20px;
                    .email-input {
                        @include setfontsize(16px);
                        padding: 13px 10px;
                    }
                    
                    .subscribe-button {
                        margin-left: 20px;
                        padding: 7px 14px;
                        font-size: 16px;
                    }
                }
                
                .box-left {
                    width: 100%;
                    padding: 20px 0px;
                    @include setfontsize(17px);
                }
                
                .box-right {
                    display: none; 
                }
            }

            .getting-started {
                .get-started-header {
                    margin: 20px auto;
                    .customhr-line {
                        width: 17%;
                    }
                    h2 {
                        @include setfontsize(18px);
                        padding: 0 10px;
                    }
                }
                .main-content {
                    display: inline-block;
                    .content-block {
                        width: 100%;
                        padding-bottom: 30px;
                        p.text-content {
                            padding: 15px 25px;
                            font-size: 18px;
                            .background-text {
                                top: -25%;
                                left: 35%;
                                font-size: 140px;
                            }
                        }
                        .left-text {
                            width: 70%; 
                        }
                        .right-text {
                            width: 55%;
                        }
                        img {
                            height: 190px;
                        }
                    }
                }
            }
            .footer {
                height: max-content;
                float: left;
                .menu-footer 
                {
                    width: 100%;
                    .menu {
                        .menu-ul {
                            width: 90%;
                        }
                        .up-arrow {
                            display: none;
                        }
                    }
                }
                
                .callus-footer {
                    display: none;
                }
                .bottom-block {
                    display: none;
                }
            }
            
            .rights-reserved {
                display: none;
            }
        }
    }
    
    .paddingright {
        padding-right: 12%;
    }
    
    .paddingleft {
        padding-left: 12%;
    }
}