.social-icon-link {
    display: inline-block;
    background: url("../img/social_icon_small.png");
    width: 24px;
    height: 24px;
}

.icon-facebook {
    @include setbackgroundposition($facebook-position);
}

.icon-pinterest {
    @include setbackgroundposition($pinterest-position);
}

.icon-twitter {
    @include setbackgroundposition($twitter-position);
}

.main-logo {
    z-index: 600;
    position: absolute;
    left: 39.2%;
    top: 45%;
    img {
        @include transform(scale(1.4));
    }
}

.mobile-menu-icon-wrapper {
    text-align: right;
    color: $secondary-color;
    @include setfontsize(32px);
    font-weight: bold;
    padding-top: 20px;
    padding-right: 29px;
    display: none;
}

.customized-input {
    @include setborderradius(5px);
    padding: 3px 0px 7px 0px;
    &::placeholder {
        opacity: 0.3;
        padding-left: 7px;
    }
}

.email-input {
    @include setfontsize(12px);
    padding: 8px 7px;
    background: $field-background;
    color: $secondary-color;
    width: 100%;
    &::placeholder {
        color: $secondary-color;
    }
}

.search-button {
    @include setbuttondesign(5px 10px);
    margin-left: 6px;
}

.quick-links {
    display: inline-block;
    margin: 0 auto;
    color: $secondary-color;
    font-weight: bold;
    text-align: right;
    margin-right: 6%;
    margin-top: 5px;
    @include setfontsize(20px);
}

.slider-top-content {
    width: 100%;
    .block-part {
        min-height: $value-infoblock-height;
        background: $theme-color;
        width: 50%;
        @include setboxsizing(border-box);
        @include setfontsize(20px);
        line-height: $value-infoblock-height;
        color: $text-color;
    }
}

.text-with-separator {
    @extend %block-text;
    @include setfontsize(19px);
    width: 100%;
    text-align: center;
    &:before {
        @extend %custom-separator;
        float: left;
    }

    &:after {
        @extend %custom-separator;
        float: right;
    }
}

.page-divider {
    height: 6px;
    img {
        height: inherit;
        width: 100%;
        vertical-align: top;
    }
}

.big-background-text {
    position: absolute;
    top: -24%;
    left: 35%;
    opacity: 0.2;
    @include setfontsize(155px);
    z-index: 0;
    color: $theme-color;
}

.mobile-dashboard {
    z-index: 502;
    display: none;
    position: absolute;
    color: $secondary-color;
    top: 77px;
    left: 0px;
    width: 100%;
    background:$primary-color;
    background: $dashboard-background;
    .dashboard-search {
        border-top: 1px solid $border-color;
        padding: 40px 0px;
        text-align: center;
    }
    .dashboard-header {
        margin-top: -25px;
        margin-left: 15px;
        font-weight: bold;
    }
}

.dashboard-container {
    width: 100%;
    padding-top: 80px;
    .dashboard-row {
        display: flex;
        align-items: center;
        .dashboard-cell {
            @extend %transform-uppercase;
            padding: 40px;
            text-align: center;
            width: 50%;
            border: 1px solid $border-color;
            border-right-color: transparent;
            border-bottom-color: transparent;
        }
    }
}

.carousel-nav {
    text-align: center;
    width: 98%;
    position: absolute;
    bottom: 32%;
    left: 0px;
    overflow: hidden;
    margin: 0 1%;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    
    .btn-wrapper {
        width: 50%;
    }
    
    .nav-btn {
        display: inline-block;
        padding: 0px 17px;
        @include setfontsize(30px);
        &:hover {
            background-color: $prev-next-btn-hover-color;
            color: black;
        }
    }
    
    
}

.previous-btn {
    background-color: $prev-next-btn-color;
    color: $primary-color;
}

.next-btn {
    background-color: $prev-next-btn-color;
    color: $primary-color;
}

.round {
    border-radius: 50%;
}

.menu-group {
    display: flex;
    list-style: none;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
