body {
    font-family: 'Roboto', serif;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.clearfloat {
    clear: both;
}

a.social-icon-link {
    text-decoration: none;
}

.display-ib {
    display: inline-block;
}

.cursor-pointer {
    cursor: pointer;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.center-align {
    text-align: center;
}

.paddingleft {
    padding-left: 5%; 
}

.paddingright {
    padding-right: 5%;
}

.menupadding-left {
    padding-left: 10%;
}

.menupadding-right {
    padding-right: 10%;
}

input {
    border: none;
    outline: none;
}

button {
    cursor: pointer;
}