$facebook-position: 0px -40px;
$pinterest-position: 24px -40px;
$twitter-position: 46px -40px;
$value-menu-height: 40px;

$margin-right-links: 20px 17px;

$value-infoblock-height: 42px;

$value-header-height: 115px;

$theme-color: #9F0049;
$primary-color: #000000;
$secondary-color: #FFFFFF;
$text-color: #EAEAEC;
$cycle-color: #31312F;
$cycle-color-active: #5F5F61;
$background-color: #F2F5EE;
$field-background: #606060;
$menu-background: #F2F5EE;
$border-color: #383838;

$background-opacity: rgba(243,244,236,0.75);
$dashboard-background: rgba(0,0,0, 0.9);
