.looknook_body {
    background: url("../img/footerbg.png");
    .wrapper {
        max-width: 1200px;
        margin: 37px 87px;
        
        /*Add Main Header CSS Properties*/
        @import "components/header";
        
        /*Add Banners Slider CSS Properties*/
        @import "components/bannerslider";
                
        /*Add Carousel CSS Properties*/
        @import "components/carousel";
        
        /*Add Information Block 1 CSS Properties*/
        @import "components/infoblock1"; 
        
        /*Add Subscriber Box CSS Properties*/
        @import "components/subscriberbox";
        
        /*Add Getting Started Block CSS Properties*/
        @import "components/gettingstarted";
        
        /*Add Footer Block CSS Properties*/
        @import "components/footer";
    }
}