.looknook_body {
    background: url("../img/footerbg.png");
}

.container {
    max-width: 1109px;
    margin: 37px auto;
    box-shadow: 0 0 20px 4px rgba(0,0,0,0.5);
}

/*Add Components CSS Properties*/
@import "components/index";
